.detail .text-detail {
  padding: 2rem 0;
}

.detail .text-detail .price {
  color: var(--primary);
}

.detail .text-detail .description {
  border-top: dotted 0.5px var(--cream);
  border-bottom: dotted 0.5px var(--cream);
}

.detail .text-detail .product-count input {
  width: 60px;
}

.detail .text-detail .product-count button {
  width: 20px;
  border: none;
}

.detail .text-detail .product-count button:hover {
  background-color: #ddd;
}

.detail .text-detail .product-count a {
  display: inline-block;
  padding: 0.8rem 0;
  width: 35%;
  text-align: center;
  background-color: var(--primary);
  border: solid 1px var(--primary);
  color: var(--white);
}

.detail .text-detail .product-count a:hover {
  background-color: var(--white);
  color: var(--primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.detail .text-detail .favorite i {
  padding: 1rem;
  background-color: #ddd;
}

.detail .text-detail .favorite i:hover {
  background-color: var(--white);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.rating .nav {
  background-color: #F1F6F7;
  padding: 1rem;
}

.rating .nav li {
  width: 10rem;
  text-align: center;
}

.rating .nav .nav-link {
  background-color: var(--white);
  color: var(--black);
}

.rating .nav .active {
  background-color: var(--primary);
  color: var(--white);
}

.rating .tab-content {
  padding: 2rem;
}

.rating .tab-content p {
  color: var(--grey);
}

.rating .tab-content .table {
  width: 100%;
}

.rating .tab-content .table td {
  padding: 0.5rem 2rem;
}

.rating .tab-content .comment-item {
  margin: 2rem 0;
}

.rating .tab-content .comment-item .avatar {
  width: 15%;
  padding-right: 1rem;
}

.rating .tab-content .comment-item .info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rating .tab-content .comment-item .info a {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem 1rem;
}

.rating .tab-content .comment-item .info a:hover {
  background-color: var(--primary);
  color: var(--white);
  border: solid 1px var(--primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.rating .tab-content .reply {
  margin-left: 3rem;
}

.rating .tab-content .comment-form input[type=submit] {
  width: 30%;
  float: right;
  background-color: var(--cream);
}

.rating .tab-content #review i {
  color: #fbd600;
}

.rating .tab-content #review .overall {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem 0;
  background-color: #F1F6F7;
}

.rating .tab-content #review .overall h1 {
  margin: 0.5rem 0;
  color: var(--primary);
  font-weight: bolder;
}

.rating .tab-content #review .rate li {
  padding: 0.1rem;
}

.rating .tab-content #review .rate i:first-child {
  margin-left: 1rem;
}

.rating .tab-content #review .rate i:last-child {
  margin-right: 1rem;
}

.rating .tab-content #review .review-item {
  margin: 2rem 0;
}

.rating .tab-content #review .review-item .avatar {
  width: 15%;
  padding-right: 1rem;
}

.rating .tab-content #review .review-item .info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=Detail.css.map */