:root {
    --primary: #384aeb;
    --black: #222;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.nav-btn {
    padding: 10px 45px;
    border: 1px solid #ddd;
    border-radius: 30px;
    transition: 0.3s ease;
    font-weight: 500;
}
.nav-btn:hover {
    border-color: var(--primary);
    color: var(--black);
}
