<main>
    <div class="register container mt-5 mb-5 shadow-lg">
        <div class="row">
            <div class="col-lg-6 blue">
                <div class="side-box">
                    <div class="context text-center">
                        <h3 class="pb-3 fw-bold">Already have an account?</h3>
                        <p class="pb-4">Join us now</p>
                        <a href="/auth/login">Login Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="register-box my-5 py-2">
                    <h4 class="text-uppercase text-center mb-5 fw-bold">Create an acount</h4>
                    <form class="row register-form mx-auto">
                        <div class="col-md-12 mb-3">
                            <input class="form-control" type="text" placeholder="Username" />
                        </div>
                        <div class="col-md-12 mb-3">
                            <input class="form-control" type="text" placeholder="Email" />
                        </div>
                        <div class="col-md-12 mb-3">
                            <input class="form-control" type="password" placeholder="Password" />
                        </div>
                        <div class="col-md-12 mb-3">
                            <input class="form-control" type="password" placeholder="Confirm Password" />
                        </div>
                        <div class="col-md-12 mb-3">
                            <input class="form-check-input m-1" type="checkbox" id="keep-logged" />
                            <label class="form-check-label" htmlFor="keep-logged">Keep me logged in</label>
                        </div>
                        <div class="col-md-12 mb-3 text-center">
                            <input class="form-control mb-3" type="submit" value="Register" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>