
@media (min-width: 992px) {
  .login,
  .register {
    width: 960px !important;
  }
}

.side-box {
  background-color: var(--primary);
  padding: 20% 1rem;
  height: 100%;
}

.login-box, .register-box {
  box-shadow: 0 10px 40px 0 rgb(56, 74, 235, 0.1);
}
.side-box h3, .side-box p {
  color: var(--white) !important;
}

.side-box .context {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.side-box a {
  margin: auto;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  color: var(--white);
  border: 1px solid var(--white);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.side-box a:hover {
  background-color: var(--white);
  color: var(--primary);
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-form,
.register-form {
  max-width: 75%;
}

.login-form input[type=submit],
.register-form input[type=submit] {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 10rem;
  border: 1px solid var(--primary);
  transition: all 0.3s;
}

.login-form input[type=submit]:hover,
.register-form input[type=submit]:hover {
  background-color: var(--white);
  color: var(--primary);
  font-weight: 500;
  transition: all 0.3s;
}

.login-form a,
.register-form a {
  color: #666;
  font-size: 0.9rem;
}