<main>
    <div class="shop-section">
        <div class="container">
            <div class="card mb-5">
                <div class="row g-0">
                    <div class="col-lg-4 p-4">
                        <p class="fw-bold mb-3">Update Your Password</p>
                    </div>
                    <div class="col-lg-8 p-4">
                        {{#if message}}
                        <div class="col=md-12 mb-3">
                            <div class="error">
                                <i class="fas fa-times-circle me-2"></i>
                                <span>{{message}}</span>
                            </div>
                        </div>
                        {{/if}}
                        <form id="password-form" method="post" action="/profile/changePassword">
                            {{#with user}}
                            <div class="form-group">
                                <label for="email">Username</label>
                                <input id="email" type="text" class="form-control" placeholder="Email" name="email"
                                    value={{username}} readonly />
                            </div>
                            {{/with}}
                            <div class="form-group">
                                <label for="old">Old Password</label>
                                <input id="old" type="password" class="form-control" placeholder="Old Password"
                                    name="oldPass" rules="required" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="new">New Password</label>
                                <input id="new" type="password" class="form-control" placeholder="New Password"
                                    name="newPass" rules="required|min:6" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="confirm">Confirm Password</label>
                                <input id="confirm" type="password" class="form-control" placeholder="Confirm Password"
                                    name="confirm" rules="required|confirm:new" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="text-end">
                                <button class="btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<script>
    $(document).ready(() => {
        Validation('#password-form');
    });
</script>