<main>
    <section class="shop-section mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="shop-sidebar mb-4 mx-3">
                        <h3 class="shop-sidebar-heading px-4 fw-normal">Browse Categories</h3>
                        <div class="shop-sidebar-list p-4 bg-light">
                            <form>
                                <div class="shop-sidebar-type">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-categories"
                                            id="radio-men">
                                        <label class="form-check-label" for="radio-men">
                                            Men (3600)
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-categories"
                                            id="radio-women">
                                        <label class="form-check-label" for="radio-women">
                                            Women (3600)
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-categories"
                                            id="radio-accessories">
                                        <label class="form-check-label" for="radio-accessories">
                                            Accessories (3600)
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-categories"
                                            id="radio-footwear">
                                        <label class="form-check-label" for="radio-footwear">
                                            Footwear (3600)
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-categories"
                                            id="radio-bay">
                                        <label class="form-check-label" for="radio-bay">
                                            Bay item (3600)
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-categories"
                                            id="radio-electronics">
                                        <label class="form-check-label" for="radio-electronics">
                                            Electronics (3600)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="shop-categories"
                                            id="radio-food">
                                        <label class="form-check-label" for="radio-food">
                                            Food (3600)
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="shop-sidebar mb-4 mx-3">
                        <h3 class="shop-sidebar-heading px-4 fw-normal">Product Filters</h3>
                        <div class="shop-sidebar-list p-4 bg-light">
                            <form>
                                <div class="shop-sidebar-type">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-brands"
                                            id="radio-apple">
                                        <label class="form-check-label" for="radio-apple">
                                            Apple
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-brands" id="radio-asus">
                                        <label class="form-check-label" for="radio-asus">
                                            Asus
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-brands"
                                            id="radio-gionee">
                                        <label class="form-check-label" for="radio-gionee">
                                            Gionee
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-brands"
                                            id="radio-micromax">
                                        <label class="form-check-label" for="radio-micromax">
                                            Micromax
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="shop-brands"
                                            id="radio-samsung">
                                        <label class="form-check-label" for="radio-samsung">
                                            Samsung
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="bg-light mb-4 px-3 pb-3 d-flex align-items-center flex-wrap">
                        <div class="mt-3 me-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="me-auto mt-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="mt-3">
                            <input type="text" class="form-control" id="shop-search" placeholder="Search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct1.png.pagespeed.ic.pmQVLonzrK.webp"
                                        alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>Accessories</p>
                                    <a href="/product/1" class="product-info-name mb-2">Quartz Belt Watch</a>
                                    <p class="product-price">$150.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct2.png.pagespeed.ic.lRueW1Al-k.webp"
                                        alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>Beauty</p>
                                    <a href="#" class="product-info-name mb-2">Women Freshwash</a>
                                    <p class="product-price">$150.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct3.png.pagespeed.ic.hMsbqCptb9.webp"
                                        alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>Decor</p>
                                    <a href="#" class="product-info-name mb-2">Room Flash Light</a>
                                    <p class="product-price">$150.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct4.png.pagespeed.ic.mDB8Vfynfi.webp"
                                        alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>Decor</p>
                                    <a href="#" class="product-info-name mb-2">Room Flash Light</a>
                                    <p class="product-price">$150.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct5.png.pagespeed.ic.7UhfPGdJGx.webp"
                                        alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>Accessories</p>
                                    <a href="#" class="product-info-name mb-2">Man Office Bag</a>
                                    <p class="product-price">$150.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct6.png.pagespeed.ic.45QJKFIkMm.webp"
                                        alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>Kids Toy</p>
                                    <a href="#" class="product-info-name mb-2">Charging car</a>
                                    <p class="product-price">$150.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct7.png.pagespeed.ic.7VoqXi8Ed6.webp"
                                        alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>Accessories</p>
                                    <a href="#" class="product-info-name mb-2">Bluetooth Speaker</a>
                                    <p class="product-price">$150.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src="https://preview.colorlib.com/theme/aroma/img/product/xproduct8.png.pagespeed.ic.L7wDN2EveI.webp"
                                        alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>Kids Toy</p>
                                    <a href="#" class="product-info-name mb-2">Charging car</a>
                                    <p class="product-price">$150.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subscribe">
        <div class="container">
            <div class="subscribe-container text-center">
                <h3 class="subscribe-title text-uppercase mb-3">GET UPDATE FROM ANYWHERE</h3>
                <p class="mb-3">Bearing Void gathering light light his eavening unto dont afraid</p>
                <form class="mt-5 pt-1">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6 col-lg-3">
                            <input type="email" placeholder="Your Email Address"
                                class="input-subscribe rounded-pill form-control mb-3 h-100 py-2 px-3">
                        </div>
                        <div class="col-auto">
                            <button class="btn rounded-pill mb-3">Subscribe Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>