<main>
   <div class="container">
      <div class="card text-center">
         <div>
            <h3 class="text-uppercase text-center mb-5 fw-bold">Forgot Password? </h3>
            <form class="pb-3 email-form d-flex flex-column align-items-center" id="email-form" method="post">
               <div class="form-group">
                  <input id="email" name="email" type="text" class="form-control" aria-describedby="emailHelp"
                     placeholder="Your Email" required>
                  <p class="py-4">We will send reset password link to your email</p>
               </div>
               <input class="form-control mb-2" type="submit" id="sendBtn" value="Send" />
            </form>
            {{#if message}}
            <div class="error">
               <i class="fas fa-times-circle me-2"></i>
               <span>{{message}}</span>
            </div>
            {{/if}}
         </div>
      </div>
   </div>
</main>
<script>
   $("#email-form").validate({
      rules: {
         "email": {
            required: true,
            email: true,
         }
      },
      messages: {
         "email": {
            required: "Please provide an email",
            email: "You have entered an invalid email address"
         },
      },
      errorPlacement: function (error, element) {
         isValid = false;
         element.css('background-color', '#ffdddd');
         error.css('color', 'red');
         error.css('margin-top', '10px');
         error.insertAfter(element);
      },
      unhighlight: function (element, errorClass, validClass) {
         isValid = true;
         $(element).removeClass(errorClass).addClass(validClass);
         $(element.form).find("label[for=" + element.id + "]").removeClass(errorClass);
         $(element).css('background-color', 'var(--mint)');
      },
   });
</script>