<main>
    <div class="shop-section">
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="card w-50 shadow">
                <h1 class="text-center">Reset Password</h1>
                <div class="p-4">
                        <form id="password-form">
                            <div class="form-group">
                                <label for="password">New Password<span>(required)</span></label>
                                <input id="password" name="password" type="password" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm password<span>(required)</span></label>
                                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" required/>
                            </div>
                            <div class="text-center">
                                <button class="btn" id="saveBtn">Save</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $("#password-form").validate({
        rules: {
            "password": {
                required: true,
                minlength: 6
            },
            "confirmPassword": {
                required: true,
                equalTo: "#password",
                minlength: 6
            },
        },
        messages: {
            "password": {
                required: "Please provide a password",
                minlength: "Your password must be at least 6 characters long",
            },
            "confirmPassword": {
                required: "Please provide a password",
                equalTo: "Please enter the same password as above",
                minlength: "Your password must be at least 6 characters long",
            },
        },
        errorPlacement: function(error, element) {
            isValid = false;
            element.css('background-color', '#ffdddd');
            error.css('color', 'red');
            error.css('margin-top', '10px');
            error.insertAfter(element);
        },
        unhighlight: function(element, errorClass, validClass) {
            isValid = true;
            $(element).removeClass(errorClass).addClass(validClass);
            $(element.form).find("label[for=" + element.id + "]").removeClass(errorClass);
            $(element).css('background-color', 'var(--mint)');
        },
        submitHandler: function(form, event) {
            event.preventDefault();
            submitForm();
        }
    });
    function submitForm() {
        const password =   $("#password").val();
        $.ajax({
         contentType: "application/json",
        dataType: "json",
        type: 'POST', // http method
        data: JSON.stringify({password:password}), // data to submit
        }).done((res) => {
            $('#saveBtn').prop('disabled', true);
            alert("Update sucess");
            window.location.href = "/auth/reset-password-success";
        }).fail((res) => {});
    }
</script>