<div class="container">
  <div class="card text-center">
    <div class="mb-5" style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
    </div>
    <p>
      A
      <span id="type">{{type}}</span>
      email has been sent to 
      <span class="fw-bold" id="email">{{email}}</span>
      (expire after 20 minutes).
    </p>
    <p>
      Don't receive the {{type}} email? Click on 
      <a href="javascript:void(0)" class="fw-bold text-decoration-underline" id="resend">Resend</a>
    </p>
  </div>
</div>